<div class="container">
  <h1>Let's see some Tweets!</h1>
  <form action="/get-tweets" method="POST">
    <label for="username">Twitter Handle:
      <input type="text" id="username" name="username" placeholder="@some_twitter_handle">
    </label>
    <input type="submit" value="Let's see some Tweets!">
  </form>
</div>
