<% if @waiting %>
  <%= erb :'_waiting', layout: false %>
<% else %>
  <h1><%= @user.username %>'s Tweets</h1>

  <ul>
    <% @user.tweets.each do |tweet| %>
    <li>Text: <%= tweet.text %></li>
    <% end %>
  </ul>
<% end %>
